@tailwind base;
@tailwind components;
@tailwind utilities;

.noDrag{
    pointer-events: none;
}

.noSelect{
    user-select: none;
}

.BGcolor{
    background-color: #41718d;
    background-image: linear-gradient(160deg, #41718d 0%, #80d0c79b 100%);
}

.SearchBG{
    background-Color: #A2B4BE;
}

.NavAvatar{
    cursor: pointer;
}

.searchicon{
    width: 18px;
    opacity: 0.3;
}